@model List<Travelaa.WebUI.Dtos.ResaultAdminDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/AdminLayout.cshtml";
}

<div class="card card-primary card-outline">
    @foreach(var item in Model)
    {
        <div class="card-body box-profile">
            <div class="text-center">
                <img class="profile-user-img img-fluid img-circle"
                     src="@item.ImageUrl"
                     alt="User profile picture">
            </div>
            <h3 class="profile-username text-center">@item.Name  @item.Surname</h3>
            <ul class="list-group list-group-unbordered mb-3">
                <li class="list-group-item">
                    <b>Kullanıı Adı</b> <a class="float-right">@item.KullanıcıAdi</a>
                </li>
                <li class="list-group-item">
                    <b>Şifre</b> <input type="password" class="float-right" value="@item.Password" disabled>
                </li>
            </ul>
            <a href="#" class="btn btn-primary btn-block"><b>Güncelle</b></a>
        </div>
    }
</div>